# In format postgresql://username:password@host:port/database?sslmode=require&channel_binding=require
POSTGRES_CONNECTION_STRINGS=

# In a string to get parsed as a duration, e.g. "4m" for 4 minutes, "1h" for 1 hour, etc.
WARMING_INTERVAL = "4m"