# In format postgresql://username:password@host:port/database?sslmode=require&channel_binding=require
POSTGRES_CONNECTION_STRINGS=

# In a string, in cron format, to specify when to run the warming job
WARMING_SCHEDULE= "*/4 9-20 * * *" # Every 4 minutes between 9 AM and 9 PM (21:00) UTC